#conteudoMeio{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    place-items: center;
    align-items: center;
}

@media (max-width: 768px) { 
    #conteudoMeio{
        grid-template-columns: 1fr;
        place-items: center;
    }
   .imagem1{
    margin-bottom: 50px;
   }
}

.doacao1 {
    padding-bottom: 5px;
    margin: 0;
}


.container {
    max-width: 800px;
    margin: auto;
}

.text-center {
    text-align: center;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mt-4 {
    margin-top: 4rem;
}

.img-doacao{
    padding: 1.1rem;
}

.imagem1{
    width: 400px;
    width: 80%;
    align-self: center;
}

.imagem2 {
    align-self: center;
    transition: transform 0.3s ease; 
}

.imagem2:hover {
    transform: scale(1.5);
}

.imagem2 img {
    max-width: 100%;
    height: auto;
}

.card {
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
}

.card-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.card-title.text-center strong {
    color: #0056b3;
}

.list-unstyled {
    padding: 0;
    margin: 0;
}

.imagem3 {
    width: 100%;
    text-align: justify;
    align-self: center;
}

.imagem3 ul {
    list-style-type: none;
    padding: 0;
}

.imagem3 li {
    white-space: nowrap;
    margin-bottom: 5px; 
}

#conta{
    color: #2E3B69;
    font-weight: bold;
    text-decoration: none;
}

#espaco{
    margin-top: 20px;
}

.passo-passo{
    text-align: start;
}
