@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inscricao, .contato {
    text-align: justify;
    background-color: #F5F5F5;
    padding: 20px;
    margin-bottom:10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section{
    width: 80vw;
}

h1, h2 {
    margin: 0 0 10px 0;
}

h2 {
    font-size: 1.2em;
}

.moreWeight{
    font-weight: 700;
}

ol, ul {
    margin: 0;
    padding: 0 15px;
}

li {
    margin: 5px 0;
}

p {
    margin-bottom: 15px;
}

.contato ul li {
    line-height: 1.5;
}

span{
    font-weight: 600;
}

main{
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
}

.main-image{
    width: 100vw; 
    height: 40vh;
    object-fit: cover;
    object-position: center center;
}

.fundo{
  background-image: url("../img/infinite.png");
  background-size: 600px 500px;
  height: 15rem;
  width: 100%;
  background-repeat: repeat;
  background-position: center;
}